.program-card {
    width: 300px;
    height: 150px;
    background-size: cover;
    background-position: left;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    margin: 10px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.program-card:hover {
    transform: scale(1.03);
}

.program-card .overlay {
    /*background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.2));*/
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}