body {
    background-image: linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(127,16,16,1) 103.9% );
}

.animated-lines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.line {
    position: absolute;
    width: 2px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.line:nth-child(1) { left: 10%; animation: moveLine 7s linear infinite; }
.line:nth-child(2) { left: 20%; animation: moveLine 10s linear infinite; }
.line:nth-child(3) { left: 30%; animation: moveLine 8s linear infinite; }
.line:nth-child(4) { left: 40%; animation: moveLine 12s linear infinite; }
.line:nth-child(5) { left: 50%; animation: moveLine 9s linear infinite; }
.line:nth-child(6) { left: 60%; animation: moveLine 11s linear infinite; }
.line:nth-child(7) { left: 70%; animation: moveLine 10s linear infinite; }
.line:nth-child(8) { left: 80%; animation: moveLine 7s linear infinite; }
.line:nth-child(9) { left: 90%; animation: moveLine 8s linear infinite; }

@keyframes moveLine {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

 .overlay {
            background: rgba(0, 0, 0, 0.6);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .motivational-text {
            font-size: 1.25rem;
            color: #ffffff;
            margin-top: 1rem;
            text-align: center;
        }

        .navbar-login{
            background-color:white;
            color:black;
            justify-content:center;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem; display: flex !important;
            align-items: center !important;
            flex-grow: 1;
            font-weight: bold;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .logo-img {
            width: 50px;
            height: 50px;
        }

        .logo-text {
            margin: 0;
            font-size: 1.5rem;
            font-weight: bold;
            color: #1f1f1f;
        }