body {
    margin: 0;
    padding: 0;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


/*.page-container {*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    padding: 0 15px;*/
/*}*/

#search-bar{
    color:gray;
}
h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

.navbar-brand{
    margin:0 2rem;
}




.category-card:hover img {
    transform: scale(1.05);
}
.category-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
}

/*.large-category {*/
/*    aspect-ratio: 2 / 4;*/
/*}*/

.category-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.category-title {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
}

.swiper-slide .card {
    height: 100%;
    max-width: 180px;
    margin: auto;
}

.swiper-slide img {
    height: 140px;
    object-fit: cover;
}

.swiper-slide .card-body {
    padding: 10px;
}

.swiper-slide h5 {
    font-size: 1rem;
}

.swiper-slide p {
    font-size: 0.9rem;
    margin: 0;
}

.swiper-slide small {
    font-size: 0.75rem;
}

.nombre-componente {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
    min-height: 2.5em;
    font-size: 0.95em;
    line-height: 1.2em;
    margin: 0;
    text-align: center;
    word-break: break-word;
}

.img-componente {
    width: 80px;      /* Puedes ajustar este valor */
    height: 80px;     /* Puedes ajustar este valor */
    object-fit: contain;
    display: block;
    margin: 0 auto 0.5em auto;
  }

  .img-popover {
    max-width: 80px;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

.botones-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 0;
}
.botones-card > * {
  flex: 0 1 auto;
}