body {
    margin: 0;
    padding: 0;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

.navbar-brand{
    margin:0 2rem;
}