<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Arma tu PC</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

  <link rel="icon" type="image/png" href="uploads/jineteSVG.svg">

</head>

<body class="bg-light">

<div th:replace="fragments/fragments :: header"></div>
<div class="container">

  <h4>Armado Customizado</h4>
  <p>En base a la eleccion de rendimiento y de Programas/Juegos que hiciste, te mostraremos componentes que parten desde las siguientes recomendaciones:</p>
  <div class="row m-auto mb-2 d-flex justify-content-evenly w-50">
    <div class="col-5 d-flex gap-2 p-1 bg-dark text-light rounded-4 align-items-center justify-content-center">
      <i class="bi bi-cpu-fill ms-2 fs-4"></i><h6 class="m-0 fs-6" th:text="'Procesador AMD Ryzen ' + ${mapaRequisitos['ProcesadorAMD'].intValue()}"></h6>
    </div>
    <div class="col-5 d-flex gap-2 p-1 bg-dark text-light rounded-4 align-items-center justify-content-center">
      <i class="bi bi-cpu ms-2 fs-4"></i><h6 class="m-0 fs-6" th:text="'Procesador Intel Core i' + ${mapaRequisitos['ProcesadorINTEL'].intValue()}"></h6>
    </div>
  </div>
  <div class="row m-auto mb-2 d-flex justify-content-evenly w-75">
    <div class="col-3 d-flex gap-2 p-1 bg-dark text-light rounded-4 align-items-center justify-content-center">
      <i class="bi bi-memory ms-2 fs-4"></i><h6 class="m-0 fs-6" th:text="'Memoria RAM ' + ${mapaRequisitos['RAM'].intValue()} + ' GB'"></h6>
    </div>
    <div class="col-3 d-flex gap-2 p-1 bg-dark text-light rounded-4 align-items-center justify-content-center">
      <i class="bi bi-gpu-card ms-2 fs-4"></i><h6 class="m-0 fs-6" th:text="'Memoria VRAM ' + ${mapaRequisitos['GPU'].intValue()} + ' GB'"></h6>
    </div>
    <div class="col-3 d-flex gap-2 p-1 bg-dark text-light rounded-4 align-items-center justify-content-center">
      <i class="bi bi-hdd ms-2 fs-4"></i><h6 class="m-0 fs-6" th:text="'Espacio en Disco ' + ${mapaRequisitos['EspacioDisco'].intValue()} + ' GB'"></h6>
    </div>
  </div>

  <h4>Elegi tus Perifericos</h4>
  <p class="text-muted">
    Mouses, Teclados, MousePad, Auriculares, y mas!
  </p>
  <div th:replace="fragments/carga-componentes-custom :: cargarPaso"></div>
</div>
<div th:replace="fragments/fragments :: footer"></div>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>