<head><link rel="icon" type="image/png" href="uploads/jineteSVG.svg"><title>Jinete Gamer</title></head>
<div th:replace="fragments/fragments :: header"></div>
<div class="container d-flex flex-column mt-5 align-items-center text-center" style="min-height: 70vh;">
    <img th:src="@{/uploads/perrito500.png}" alt="Error 500" style="max-width: 300px; width: 100%; height: auto;"
         class="mb-4">
    <p class="fs-3 fw-semibold mb-4">Ocurrio un error inesperado.</p>
    <a class="btn btn-primary btn-lg" th:href="@{/index}">Volver al inicio</a>
</div>
<div th:replace="fragments/fragments :: footer"></div>
