<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arma tu PC</title>


    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body class="bg-light container">
<h4>Elegi tu Gabinete</h4>
<p class="text-muted">
    Es fundamental para el armado de la pc ya que contendra todos los componentes funcionales de la misma.
</p>
<h6 class="alert-info text-warning border rounded bg-white p-2 d-inline">Este componente es necesario para completar el armado</h6>
<div th:replace="fragments/carga-componentes-arma-tu-pc :: cargarPaso (${armadoPcDto}, ${gabineteLista}, 'gabinete', 'gabinetes', 'fuente', 'monitor')"></div>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>