<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Arma tu PC</title>


  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body class="bg-light container">
<h4>Elegi tu Monitor</h4>
<p class="text-muted">
  El monitor es fundamental si queres disfrutar de tus juegos y peliculas favoritas.
</p>
<div th:replace="fragments/carga-componentes-arma-tu-pc :: cargarPaso (${armadoPcDto}, ${monitorLista}, 'monitor', 'monitores', 'gabinete', 'periferico')"></div>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>