
<div th:replace="fragments/fragments :: header"></div>

<div class="container py-4">
  <h3 class="mb-4">Resumen Armado</h3>
    <div th:if="${errorResumen == null}">
        <!--FALTA PODER MOSTRAR LOS COMPONENTES QUE SON LISTAS-->
        <div th:replace="fragments/tarjetaResumen :: cargarTarjetaDeResumen (${armadoPcDto.procesador}, 'Procesador', '1', 'procesadorVacio.png')"></div>
        <div th:replace="fragments/tarjetaResumen :: cargarTarjetaDeResumen (${armadoPcDto.motherboard}, 'Motherboard', '1', 'motherboardVacia.png')"></div>
        <div th:replace="fragments/tarjetaResumen :: cargarTarjetaDeResumen (${armadoPcDto.cooler}, 'Cooler', '1', 'coolerVacio.png')"></div>
        <div th:each="entry: ${armadoPcDto.ramsDetalladas}">
            <div th:replace="fragments/tarjetaResumen :: cargarTarjetaDeResumen (${entry.key}, 'Memoria', ${entry.value}, 'memoriaVacia.png')"></div>
        </div>
        <div th:replace="fragments/tarjetaResumen :: cargarTarjetaDeResumen (${armadoPcDto.gpu}, 'Placa de Video', '1', 'gpuVacia.png')"></div>
        <div th:each="entry: ${armadoPcDto.almacenamientoDetallado}">
            <div th:replace="fragments/tarjetaResumen :: cargarTarjetaDeResumen (${entry.key}, 'Almacenamiento', ${entry.value}, 'almacenamientoVacio.png')"></div>
        </div>
        <div th:replace="fragments/tarjetaResumen :: cargarTarjetaDeResumen (${armadoPcDto.fuente}, 'Fuente', '1', 'fuenteVacia.png')"></div>
        <div th:replace="fragments/tarjetaResumen :: cargarTarjetaDeResumen (${armadoPcDto.gabinete}, 'Gabinete', '1', 'gabineteVacio.png')"></div>
        <div th:replace="fragments/tarjetaResumen :: cargarTarjetaDeResumen (${armadoPcDto.monitor}, 'Monitor', '1', 'monitorVacio.png')"></div>
        <div th:each="entry: ${armadoPcDto.perifericosDetallados}">
            <div th:replace="fragments/tarjetaResumen :: cargarTarjetaDeResumen (${entry.key}, 'Periferico', ${entry.value}, 'perifericoVacio.png')"></div>
        </div>
        <div class="m-auto col-3 border rounded bg-white p-1 pt-2 mb-3 d-flex justify-content-center">
            <h3 class="d-inline">Total:  <span th:text="${'$'+armadoPcDto.precioFormateado}" class="text-success"></span></h3>
        </div>

        <div class="m-auto d-flex justify-content-center gap-2">
            <a th:href="@{/arma-tu-pc/tradicional/procesador}" class="btn btn-outline-secondary">Volver al armado</a>
            <form class="m-0" method="POST" th:action="@{/arma-tu-pc/carrito}">
                <input type="submit" class="btn btn-outline-primary" value="Sumar al carrito">
            </form>
<!--            <a href="#" class="btn btn-outline-primary">Guardar Armado</a>-->
        </div>
    </div>


    <div th:if="${errorResumen != null}">
        <h2 class="alert alert-danger" th:text="${errorResumen}"></h2>
        <div class="m-auto d-flex justify-content-center">
            <a th:href="@{/arma-tu-pc/tradicional/procesador}" class="btn btn-outline-secondary">Volver al armado</a>
        </div>
    </div>


</div>
<div th:replace="fragments/fragments :: footer"></div>
<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/resumenCalculoDeListas.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>