
<div th:fragment="cargarPaso">
    <h6 th:if="${componenteEscencialFaltante != null}" class="alert-info text-warning border rounded bg-white p-2 d-inline" th:text="${componenteEscencialFaltante}"></h6>
    <div class="container-xxl py-4">
        <p th:if="${param.errorLimite!=null}" th:text="${param.errorLimite}" class="alert alert-danger banners-info"></p>
        <p th:if="${param.errorQuitado!=null}" th:text="${param.errorQuitado}" class="alert alert-danger banners-info"></p>
        <p th:if="${param.accionInvalida!=null}" th:text="${param.accionInvalida}" class="alert alert-danger banners-info"></p>
        <p th:if="${param.agregado!=null}" th:text="${param.agregado}" class="alert alert-success banners-info"></p>
        <p th:if="${param.quitado!=null}" th:text="${param.quitado}" class="alert alert-warning banners-info"></p>
        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-4 mb-3">
                <div class="border rounded p-2 bg-white mb-3">
                    <div class="row g-2 text-center">
                        <!-- Placeholder icons -->
                        <a href = "procesador" class="col-6 text-decoration-none text-body">
                            <div th:if="${armadoPcDto.procesador != null}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/' + ${armadoPcDto.procesador.imagen}" th:alt="${armadoPcDto.procesador.modelo}" class="img-fluid w-50 m-auto my-3">
                                    <p th:text="'x1 '+ ${armadoPcDto.procesador.modelo}"></p>
                                </div>
                            </div>
                            <div th:unless="${armadoPcDto.procesador != null}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/procesadorVacio.png'" alt="procesadorVacio" class="w-25 m-auto my-3">
                                    <p>Procesador</p>
                                </div>
                            </div>
                        </a>
                        <a href = "motherboard" class="col-6 text-decoration-none text-body">
                            <div th:if="${armadoPcDto.motherboard != null}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/' + ${armadoPcDto.motherboard.imagen}" th:alt="${armadoPcDto.motherboard.modelo}" class="img-fluid w-50 m-auto my-3">
                                    <p th:text="'x1 '+ ${armadoPcDto.motherboard.modelo}"></p>
                                </div>
                            </div>
                            <div th:unless="${armadoPcDto.motherboard != null}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/motherboardVacia.png'" alt="motherboardVacia" class="w-25 m-auto my-3">
                                    <p>Motherboard</p>
                                </div>
                            </div>
                        </a>
                        <a href = "cooler" class="col-6 text-decoration-none text-body">
                            <div th:if="${armadoPcDto.cooler != null}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/' + ${armadoPcDto.cooler.imagen}" th:alt="${armadoPcDto.cooler.modelo}" class="img-fluid w-50 m-auto my-3">
                                    <p th:text="'x1 '+ ${armadoPcDto.cooler.modelo}"></p>
                                </div>
                            </div>
                            <div th:unless="${armadoPcDto.cooler != null}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/coolerVacio.png'" alt="coolerVacia" class="w-25 m-auto my-3">
                                    <p>Cooler</p>
                                </div>
                            </div>
                        </a>
                        <a href = "memoria" class="col-6 text-decoration-none text-body">
                            <div th:if="${armadoPcDto.rams.size() > 0}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100 d-flex flex-column justify-content-between">
                                    <div th:each="entry: ${armadoPcDto.ramsDetalladas}" class="w-100 m-0">
                                        <img th:src="'http://www.imagenestaller.free.nf/' +  ${entry.key.imagen}" style='height: 20px; width: 20px' class="w-25 m-auto my-3">
                                        <p th:text="'x'+ ${entry.value} +' '+ ${entry.key.modelo} " class="m-0"></p>
                                    </div>
                                    <p>Memoria</p>
                                </div>

                            </div>
                            <div th:unless="${armadoPcDto.rams.size() > 0}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/memoriaVacia.png'" alt="memoriaVacia" class="w-25 m-auto my-3">
                                    <p>Memoria</p>
                                </div>
                            </div>
                        </a>
                        <a href = "gpu" class="col-6 text-decoration-none text-body">
                            <div th:if="${armadoPcDto.gpu != null}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/' + ${armadoPcDto.gpu.imagen}" th:alt="${armadoPcDto.gpu.modelo}" class="img-fluid w-50 m-auto my-3">
                                    <p th:text="'x1 '+ ${armadoPcDto.gpu.modelo}"></p>
                                </div>
                            </div>
                            <div th:unless="${armadoPcDto.gpu != null}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/gpuVacio.png'" alt="gpuVacio" class="w-25 m-auto my-3">
                                    <p>Placa de Video</p>
                                </div>
                            </div>
                        </a>
                        <a href = "almacenamiento" class="col-6 text-decoration-none text-body">
                            <div th:if="${armadoPcDto.almacenamiento.size() > 0}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100 d-flex flex-column justify-content-between">
                                    <div th:each="entry: ${armadoPcDto.almacenamientoDetallado}" class="w-100 m-0">
                                        <img th:src="'http://www.imagenestaller.free.nf/' +  ${entry.key.imagen}" style='height: 20px; width: 20px' class="w-25 m-auto my-3">
                                        <p th:text="'x'+ ${entry.value} +' '+ ${entry.key.modelo} " class="m-0"></p>
                                    </div>
                                    <p>Almacenamiento</p>
                                </div>
                            </div>
                            <div th:unless="${armadoPcDto.almacenamiento.size() > 0}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/almacenamientoVacio.png'" alt="almacenamientoVacio" class="w-25 m-auto my-3">
                                    <p>Almacenamiento</p>
                                </div>
                            </div>
                        </a>
                        <a href = "fuente" class="col-6 text-decoration-none text-body">
                            <div th:if="${armadoPcDto.fuente != null}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/' + ${armadoPcDto.fuente.imagen}" th:alt="${armadoPcDto.fuente.modelo}" class="img-fluid w-50 m-auto my-3">
                                    <p th:text="'x1 '+ ${armadoPcDto.fuente.modelo}"></p>
                                </div>
                            </div>
                            <div th:unless="${armadoPcDto.fuente != null}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/fuenteVacia.png'" alt="fuenteVacia" class="w-25 m-auto my-3">
                                    <p>Fuente</p>
                                </div>
                            </div>
                        </a>
                        <a href = "gabinete" class="col-6 text-decoration-none text-body">
                            <div th:if="${armadoPcDto.gabinete != null}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/' + ${armadoPcDto.gabinete.imagen}" th:alt="${armadoPcDto.gabinete.modelo}" class="img-fluid w-50 m-auto my-3">
                                    <p th:text="'x1 '+ ${armadoPcDto.gabinete.modelo}"></p>
                                </div>
                            </div>
                            <div th:unless="${armadoPcDto.gabinete != null}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/gabineteVacio.png'" alt="gabineteVacio" class="w-25 m-auto my-3">
                                    <p>Gabinete</p>
                                </div>
                            </div>
                        </a>
                        <a href = "monitor" class="col-6 text-decoration-none text-body">
                            <div th:if="${armadoPcDto.monitor != null}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/' + ${armadoPcDto.monitor.imagen}" th:alt="${armadoPcDto.monitor.modelo}" class="img-fluid w-50 m-auto my-3">
                                    <p th:text="'x1 '+ ${armadoPcDto.monitor.modelo}"></p>
                                </div>
                            </div>
                                <div th:unless="${armadoPcDto.monitor != null}" class="h-100">
                                    <div class="border rounded bg-light py-3 h-100">
                                        <img th:src="'http://www.imagenestaller.free.nf/monitorVacio.png'" alt="monitorVacio" class="w-25 m-auto my-3">
                                        <p>Monitor</p>
                                    </div>
                                </div>
                        </a>
                        <a href = "periferico" class="col-6 text-decoration-none text-body">
                            <div th:if="${armadoPcDto.perifericos.size() > 0}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100 d-flex flex-column justify-content-between">
                                    <div th:each="entry: ${armadoPcDto.perifericosDetallados}" class="w-100 m-0">
                                        <img th:src="'http://www.imagenestaller.free.nf/' +  ${entry.key.imagen}" style='height: 20px; width: 20px' class="w-25 m-auto my-3">
                                        <p th:text="'x'+ ${entry.value} +' '+ ${entry.key.modelo} " class="m-0"></p>
                                    </div>
                                    <p>Perifericos</p>
                                </div>
                            </div>
                            <div th:unless="${armadoPcDto.perifericos.size() > 0}" class="h-100">
                                <div class="border rounded bg-light py-3 h-100">
                                    <img th:src="'http://www.imagenestaller.free.nf/perifericoVacio.png'" alt="perifericoVacio" class="w-25 m-auto my-3">
                                    <p>Perifericos</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="border rounded p-3 bg-white text-center">
                    <p class="d-inline" th:text="${'(' + wattsArmado +' watts)'}"></p>
                    <p class="d-inline fw-bold ms-3" th:text="${'Total: $ ' + armadoPcDto.precioFormateado}"></p> <!-- aca deberia entrar la sumatoria del armadoPcDto-->
                    <div class="d-flex justify-content-between mt-3">
                        <a th:if="${pasoActual != 'procesador'}" th:href="${pasoAnterior}" class="btn btn-outline-primary btn-sm">Anterior paso</a>
                        <form th:action="@{/arma-tu-pc/tradicional/reiniciar-armado}" method="POST">
                            <input type="submit" class="btn btn-outline-danger btn-sm" value="Reiniciar Armado">
                        </form>
                        <a th:if="${pasoActual != 'periferico'}" th:href="${pasoSiguiente}" class="btn btn-outline-primary btn-sm">Siguiente paso</a>
                        <a th:if="${pasoActual == 'periferico'}" th:href="@{/arma-tu-pc/tradicional/resumen}" class="btn btn-outline-success btn-sm">Finalizar Armado</a>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <div class="col-lg-8">
                <h3 th:if="${errorLista!=null}" th:text="${errorLista}" class="alert alert-danger fw-semibold"></h3>


                <!-- Cards -->
                <div th:if="${errorLista == null}">
                    <!-- Filtros -->
                    <div th:if="${pasoActual == 'procesador'}" class="mb-4"> <!--Si no es un procesador no mostramos AMD y INTEL-->
                        <a th:href="@{'/arma-tu-pc/tradicional/procesador?q=AMD'}" class="btn btn-outline-dark me-2">AMD</a>
                        <a th:href="@{'/arma-tu-pc/tradicional/procesador?q=INTEL'}" class="btn btn-outline-primary me-2">Intel</a>
                        <a th:href="@{'/arma-tu-pc/tradicional/procesador'}" class="btn btn-outline-success">Todos</a>
                    </div>
                    <div th:if="${pasoActual == 'almacenamiento'}" class="mb-4"> <!--Si no es un procesador no mostramos AMD y INTEL-->
                        <a th:href="@{'/arma-tu-pc/tradicional/almacenamiento?q=SOLIDO'}" class="btn btn-outline-dark me-2">Solido</a>
                        <a th:href="@{'/arma-tu-pc/tradicional/almacenamiento?q=RIGIDO'}" class="btn btn-outline-primary me-2">Rigido</a>
                        <a th:href="@{'/arma-tu-pc/tradicional/almacenamiento'}" class="btn btn-outline-success">Todos</a>
                    </div>
                    <div th:if="${pasoActual == 'periferico'}" class="mb-4"> <!--Si no es un procesador no mostramos AMD y INTEL-->
                        <a th:href="@{'/arma-tu-pc/tradicional/periferico?q=TECLADO'}" class="btn btn-outline-dark me-2">Teclado</a>
                        <a th:href="@{'/arma-tu-pc/tradicional/periferico?q=MOUSE'}" class="btn btn-outline-primary me-2">Mouse</a>
                        <a th:href="@{'/arma-tu-pc/tradicional/periferico?q=AURICULARES'}" class="btn btn-outline-warning">Auriculares</a>
                        <a th:href="@{'/arma-tu-pc/tradicional/periferico'}" class="btn btn-outline-success">Todos</a>
                    </div>

                    <div class="row g-3">
                        <!-- Card ejemplo -->
                        <div class="col-md-6 col-lg-4 mt-2 h-100" th:classappend="${idsDeComponentesSeleccionados.contains(componente.id)} ? ' order-first' : ''" th:each ="componente : ${componentesLista}">
                            <form method="POST" th:action="@{'/arma-tu-pc/tradicional/' + ${pasoActual} + '/accion'}" class="h-100">
                                <div class="card h-75">
                                    <div>
                                        <img th:src="'http://www.imagenestaller.free.nf/' +  ${componente.imagen}" class="card-img-top img-fluid" th:alt="${componente.modelo}">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title" th:text="${componente.modelo}"></h6>
                                        <p class="card-text text-muted" th:text="'$'+${componente.precioFormateado}"></p>
                                        <span class="badge bg-success">Compatible</span>
                                        <input type="hidden" name="id" th:value="${componente.id}">
                                        <input th:if="${pasoActual != 'memoria' && pasoActual != 'almacenamiento'}" type="hidden" name="cantidad" value="1">
                                        <select th:if="${pasoActual == 'memoria' && slotsRamMotherboardElegida != null}" name="cantidad">
                                            <option th:each="i : ${#numbers.sequence(1, slotsRamMotherboardElegida)}"
                                                    th:value="${i}"
                                                    th:text="${i}">
                                            </option>
                                        </select>
                                        <select th:if="${pasoActual == 'almacenamiento' && slotsM2MotherboardElegida != null && slotsSataMotherboardElegida != null}" name="cantidad">
                                            <option th:if="${componente.modelo.toUpperCase().contains('M.2')}"
                                                    th:each="i : ${#numbers.sequence(1, slotsM2MotherboardElegida)}"
                                                    th:value="${i}"
                                                    th:text="${i}">
                                            </option>
                                            <option th:unless="${componente.modelo.toUpperCase().contains('M.2')}"
                                                    th:each="i : ${#numbers.sequence(1, slotsSataMotherboardElegida)}"
                                                    th:value="${i}"
                                                    th:text="${i}">
                                            </option>
                                        </select>
                                        <button th:if="${componente.stock > 0}" type="submit" name="accion" class="btn btn-outline-primary" value="agregar">Agregar</button>
                                        <button th:if="${idsDeComponentesSeleccionados.contains(componente.id)}" type="submit" name="accion" class="btn btn-outline-primary" value="quitar">Quitar</button>
                                        <a th:if="${componente.precio > 0.0}" th:href="@{/productoEspecifico/{id}(id=${componente.id})}" target="_blank" class="ms-2 fs-3"><i class="bi bi-info-circle"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/armaTuPc.js}"></script>
</div>
