<div th:fragment="cargarTarjetaDeResumen (componente, producto, cantidad, imagenComponenteVacia)">

  <div th:if="${componente != null}" class="row border rounded bg-white p-1 mb-3 align-items-center">
    <div class="col-md-3 text-center">
      <img th:src="'http://www.imagenestaller.free.nf/' +  ${componente.imagen}" th:alt="${componente.modelo}" class="img-fluid w-50 m-auto my-3">
    </div>
    <div class="col-md-6">
      <h5 class="mb-1" th:text="${producto}"></h5>
      <small class="text-muted" th:text="'x ' + ${cantidad} + ' ' + ${componente.modelo}"></small>
    </div>
    <div class="col-md-3">
      <div th:if="${cantidad} > 1">
        <h5 class="d-inline me-2">Precio (acumulado): </h5>
        <span class="fs-5 text-primary precio-producto" th:data-precio="${componente.precioFormateado}" th:data-cantidad="${cantidad}"></span>
        <h6 class="d-inline me-2">Por unidad: </h6>
        <span class="fs-5 text-primary" th:text="${'$' + componente.precioFormateado}"></span>
      </div>
      <div th:if="${cantidad} == 1">
        <h5 class="d-inline me-2">Precio: </h5>
        <span class="fs-5 text-primary" th:text="${'$' + componente.precioFormateado}"></span>
      </div>

    </div>
  </div>
</div>