<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dqrka5zry/image/upload/v1782952771/WhatsApp_Image_2026-07-01_at_9.28.32_PM_oplcqj.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kiosco UNLAM</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>

<body>
<div class="page-wrap">

    <!-- ── LEFT PANEL ── -->
    <div th:replace="fragmentos/panelIzqLogin :: panelIzqLogin"></div>


    <!-- ── RIGHT PANEL ── -->
    <div class="right-panel">
        <div class="login-card">
            <!--paso 1: que ingrese el mail para enviar codigo-->
            <div id="paso1">

                <h2>Ingrese su email</h2>
                <h3>(El registrado en su cuenta)</h3>
                <div class="input-wrap">
                    <label class="form-label" for="email-Rec">Email</label>
                    <input type="email" id="email-Rec" class="form-control" placeholder="ejemplo@ejemplo.com" required />
                </div>
                <p class="subtitle">Se te enviará un codigo </p>

                <button type="button" id="btn-enviarCod" class="btn-login" disabled>
                    Enviar código
                </button>
            </div>
            <!--una vez que lo envia, el paso 1 se tiene que ocultar en la pagina para mostrar el paso 2-->
            <!--paso 2, se le pide al usuario que ingrese el codigo -->
            <div id="paso2" class="oculto">
                <h2>Ingrese el código</h2>

                <div class="input-wrap">
                    <label class="form-label" for="codigo">Ingrese el Código</label>
                    <input type="number" id="codigo" class="form-control" placeholder="Ingrese su codigo" required />
                </div>
                <button type="button" id="btn-verificarCod" class="btn-login" disabled>
                    Verificar código
                </button>
            </div>

            <!--una vez que lo envia, el paso 2 se tiene que ocultar en la pagina para mostrar el paso 3-->

            <!--paso 3, si la verif es exitosa, se procede al cambio de contraseña-->
            <div id="paso3" class="oculto">

                <div class="input-wrap">
                    <label class="form-label" for="nuevaClave">Ingrese su nueva contraseña</label>
                    <input type="password" id="nuevaClave" class="form-control" placeholder="Ingrese su nueva contraseña" required />
                </div>
                <button type="button" id="btn-cambiarClave" class="btn-login" disabled>
                    Cambiar contraseña
                </button>
            </div>
            <div id="paso4" class="oculto">
                <h2>Contraseña cambiada exitosamente</h2>
                <div class="input-wrap">
                    <p>Ya podés iniciar sesión con tu nueva contraseña.</p>
                </div>

                <a th:href="@{/login}" id="btn-volverAlLogin" class="btn-login"
                   style="text-decoration: none; color: white; display: inline-block;">
                    Volver al login
                </a>


            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/recuperar-clave.js}"></script>

</html>