<!-- Esto NO es un fragmento. Es una vista parcial -->

<div class="row row-cols-1 row-cols-md-3 g-4  ">
    <div class="col" th:each="producto : ${productosDestacados}">
        <div class="card h-100 border-0 bg-transparent">
            <a th:href="@{/productoEspecifico/1}" class="card h-100 border border-secondary-subtle  bg-transparent">
                <img  th:src="@{'/uploads/' + ${producto.imagen}}" class="card-img-top" alt="..."></a>

            <div class="card-body text-start">
                <p th:text="${producto.nombre}"></p>
                <div class="d-flex align-items-center gap-2">
                    <span class="fw-bold" th:text="'$ ' + ${producto.precio}"></span>
                    <button class="btn btn-warning"><i class="bi bi-cart3"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
