
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3 justify-content-center">
        <div class="col" th:each="producto : ${productosDestacados}">
            <div class="card h-100 shadow border-0 position-relative">

                <div class="p-3">
                    <a th:href="@{/productoEspecifico/{id}(id=${producto.id})}">
                        <img th:src="'http://www.imagenestaller.free.nf/' + ${producto.imagen}"
                             class="card-img-top rounded w-100"
                             th:alt="${producto.nombre}"
                             style="height: 200px; object-fit: contain;">
                    </a>
                </div>

                <div class="card-body text-center d-flex flex-column justify-content-between p-3">
                    <p class="card-title fw-bold mb-2 small" th:text="${producto.nombre}"></p>

                    <div class="d-flex justify-content-between align-items-center mt-auto">
                        <span class="fw-bold text-success" th:text="'$ ' + ${producto.precioFormateado}"></span>

                        <button th:onclick="|agregarAlCarrito(${producto.id}, 1)|"
                                class="card-producto-agregar-carrito btn btn-warning btn-sm">
                            <i class="bi bi-cart3 fs-4"></i>
                        </button>
                    </div>
                </div>

                <div th:id="'mensajeNotificacion-' + ${producto.id}"
                     class="mensaje-notificacion">
                </div>
            </div>
        </div>
    </div>

