<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Categorías</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/categoria-productos.css}"/>
</head>
<body>

</body>


</html>