<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Categorías</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">


    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/categorias.css}"/>
</head>


<body class="bg-white">
    <!-- Header -->
    <header class="border-bottom border-info mb-1">
        <nav class="navbar navbar-expand-lg container py-2">
            <a class="navbar-brand d-flex align-items-center gap-2" href="#">
                <img class="logo-img" th:src="@{/img/logo.png}" alt="Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContenido"
                    aria-controls="navContenido" aria-expanded="false" aria-label="Alternar navegación">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navContenido">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <form class="d-flex" role="search">
                            <div class="input-group">
                                <input class="form-control" type="search" placeholder="Buscar..." aria-label="Buscar">
                                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                            </div>
                        </form>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Mi perfil</a></li>
                </ul>
            </div>

        </nav>


    </header>



    <!-- categorías desde SQL-->
    <section class="container py-3 mb-5 container-categorias">
        <ul class="nav justify-content-between flex-wrap">
            <li class="nav-item flex-fill text-center" th:each="categoria : ${categorias}">
                <div class="badge-wrapper">
                    <a th:href="@{'/categorias/' + ${categoria.nombreEnUrl}}" class="nav-link px-2 py-1 text-body small " th:text="${categoria.nombre}">
                        Nombre categoría
                    </a>
                    <div class="badge-info">
                        <img src="https://picsum.photos/100/60" alt="Imagen categoría">
                        <h4 th:text="${categoria.nombre}" >Nombre categoria</h4>
                        <ul>
                            <li>Celulares</li>
                            <li>TV & Audio</li>
                            <li>Computadoras</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </section>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>


</html>