<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Categorías</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/categoria-productos.css}"/>
</head>
<body class="bg-white">
<!-- Header / Navbar -->
<header class="border-bottom border-info shadow mb-5">
    hola

</header>

<!--
    <header class="border-bottom bg-white sticky-top">
        <nav class="navbar navbar-expand-lg container py-2">
            <a class="navbar-brand d-flex align-items-center gap-2" href="#">
                <img class="logo-img" th:src="@{/img/logo.png}" alt="Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContenido" aria-controls="navContenido" aria-expanded="false" aria-label="Alternar navegación">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navContenido">
                &lt;!&ndash; Buscador &ndash;&gt;
                <form class="d-flex ms-lg-4 my-3 my-lg-0 flex-grow-1" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar productos, categorías, mercados…" aria-label="Buscar">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                </form>

                &lt;!&ndash; Login / Registro &ndash;&gt;
                <ul class="navbar-nav ms-lg-3 align-items-lg-center">
                    <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-person"></i> Iniciar sesión</a></li>
                    <li class="nav-item ms-lg-2"><a class="btn btn-outline-primary" href="#">Crear cuenta</a></li>
                </ul>
            </div>
        </nav>
    </header>
-->


</body>


</html>