<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">UNLAM</a>
</nav>

<main role="main" class="container">
  <div class = "container">
    <h1>Placeholder Hamburguesa</h1>
    <img  width="500" height="500" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.mcdonalds.com%2Fus%2Fes-us%2Fproduct%2Fbig-mac.html&psig=AOvVaw36yY32uQZVXoZFW3OAdiqy&ust=1758919113917000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCMjqpLni9I8DFQAAAAAdAAAAABAE" alt="Hamburguesa Placeholder">

    <a href="home.html" class="btn btn-lg btn-primary btn-block">Volver</a>
  </div>
</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>