<head><link rel="icon" type="image/png" href="uploads/jineteSVG.svg"><title>Jinete Gamer</title></head>
<div th:replace="fragments/fragments :: header"></div>
<div class="container" style="margin-top: 80px; min-height: 70vh;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}"
                  class="p-4 shadow rounded bg-light">
                <h3 class="mb-4 text-center">Iniciar sesion</h3>

                <div class="form-floating mb-3">
                    <input th:field="*{email}" id="email" type="email" class="form-control" placeholder="Email"
                           required>
                    <label for="email">Email</label>
                </div>

                <div class="form-floating mb-3">
                    <input th:field="*{password}" type="password" id="password" class="form-control"
                           placeholder="Contraseña" required>
                    <label for="password">Password</label>
                </div>

                <input type="hidden" name="redirectUrl" th:value="${redirectUrl}"/>
                <button id="btn-login" class="btn btn-primary w-100" type="submit">Ingresar</button>

                <p th:if="${error != null}" class="alert alert-danger mt-3" th:text="'Error: ' + ${error}"></p>
            </form>

            <form th:action="@{/nuevo-usuario}" method="post" class="mt-3 text-center">
                <input type="hidden" name="redirectUrl" th:value="${redirectUrl}"/>
                <button type="submit" id="ir-a-registrarme" class="btn btn-outline-secondary">No tenes cuenta?
                    Registrate
                </button>
            </form>
        </div>
    </div>
</div>


<div th:replace="fragments/fragments :: footer"></div>