<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">UNLAM</a>
</nav>
<aside class="aside">

    <div class="container_profile">
        <i class="material-icons">account_circle</i>

        <h2 th:text= "${usuario.nombre}"></h2>
        <ul>
            <li th:each="carrera : ${usuario.carreras}" th:text="${carrera.nombre}">Carrera</li>
        </ul>

    </div>

    <div class="user_info" >
        <p>blablaba</p>
        <p>blablaba</p>
        <p>blablaba</p>

        <a href="#" class="ver_mas">Conocer más...</a>

    </div>

    <div class="user_info_items" >
        <ul>

            <li> <i class="material-icons">archive</i>Archivos</li>
            <li> <i class="material-icons">group</i>Grupos</li>

        </ul>


    </div>

</aside>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="module" th:src="@{js/login.js}"></script>
</body>
</html>