<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nueva Publicación</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
</head>
<body class="container mt-5">

<h2>Nueva Publicación</h2>

<div th:if="${exito}" class="alert alert-success" role="alert">
    <p th:text="${exito}"></p>
    <p>Descripción: <span th:text="${publicacion.descripcion}"></span></p>
    <p>ID: <span th:text="${publicacion}"></span></p>
</div>
</body>
</html>