<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I - Nueva Subasta</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- custom style -->

    <link rel="stylesheet" th:href="@{/css/categorias.css}"/>

</head>

<body>

<!-- Header -->
<div th:replace="~{fragments/header :: userHeader}"></div>

<main role="main" class="container">
    <div id="newSubastabox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <form action="#" th:action="@{/crearSubasta}" method="POST" th:object="${subasta}" enctype="multipart/form-data">
            <h3 class="form-signin-heading">Crear subasta</h3>
            <hr class="colorgraph"><br>

            <label for="titulo">Producto</label>
            <input th:field="*{titulo}" id="titulo" class="form-control" required/>

            <label for="descripcion">Descripcion</label>
            <textarea  th:field="*{descripcion}" id="descripcion" class="form-control" required></textarea>

            <label for="estadoProducto">Estado Producto</label>
            <select th:field="*{estadoProducto}" id="estadoProducto" class="form-control" required >
                <option value="Nuevo; En caja" selected>Nuevo; En caja</option>
                <option value="Nuevo; Sin caja">Nuevo; Sin caja</option>
                <option value="Usado; Como nuevo">Usado; Como nuevo</option>
                <option value="Usado; Buen estado">Usado; Buen estado</option>
                <option value="Usado">Usado</option>
                <option value="Para repuestos">Para repuestos</option>
            </select>
            <!--    <input th:field="*{estadoProducto}" id="estadoProducto" class="form-control" required/> -->


            <label for="categoria">Categoria</label>
            <select th:field="*{categoria.id}" id="categoria" class="form-control" required>
                <option th:each="cat : ${listaCategorias}" th:value="${cat.getId()}" th:text="${cat.getNombre()}"></option>
            </select>
            <!--    TODO: Luego de seleccionar categoría seleccionar correspondiente subcategoría   -->

            <label for="precioInicial">Monto inicial de Subasta</label>
            <input type="number" th:field="*{precioInicial}" id="precioInicial" class="form-control" required/>

            <!--    TODO: Encontrar manera de no usar el estadoSubasta y usar una variable que llegue al controlador    -->
            <label for="select_fechaFin">Duracion Subasta</label>
            <select th:field="*{estadoSubasta}" id="select_fechaFin" class="form-control" required>
                <option value="" selected disabled>Seleccionar duracion</option>
                <option value="0">Express (12 horas)</option>
                <option value="1">Rapido (1 dia)</option>
                <option value="2">Normal (3 dia)</option>
                <option value="3">Prolongado (7 dia)</option>
            </select>

            <!--    TODO: Posibilidad de que pueda agregar mas fotos    -->
            <div class="form-group">
                <label for="imagenSubasta">Foto del Producto (Max. 1)</label>
                <input type="file" class="form-control-file" id="imagenSubasta" name="imagenSubasta" accept="image/*" required>
            </div>

            <!-- Para la gente confundida, asi se llama la foto subida:
            <img th:if="${subasta.imagen != null}" th:src="@{/{subastaID}/image(subastaID=${subasta.id})}" class="img-thumbnail" alt="">
            -->

            <button id="btn-crearSubasta" class="btn btn-lg btn-primary btn-block" Type="Submit">Crear</button>
            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
            </p>
        </form>
    </div>
</main>
<!-- /.container -->

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>