<head><link rel="icon" type="image/png" href="uploads/jineteSVG.svg"><title>Jinete Gamer</title></head>
<div th:replace="fragments/fragments :: header"></div>

<div class="container" style="margin-top: 80px; min-height: 70vh;">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}" class="p-4 shadow rounded bg-light">
        <h3 class="mb-4 text-center">Registro de nuevo usuario</h3>

        <div class="row g-3">
          <div class="col-md-6 form-floating">
            <input th:field="*{nombre}" type="text" id="nombre" class="form-control" placeholder="Nombre" required />
            <label for="nombre">Nombre</label>
          </div>

          <div class="col-md-6 form-floating">
            <input th:field="*{apellido}" type="text" id="apellido" class="form-control" placeholder="Apellido" required />
            <label for="apellido">Apellido</label>
          </div>

          <div class="col-md-6 form-floating">
            <input th:field="*{email}" type="email" id="email" class="form-control" placeholder="Email" required />
            <label for="email">Email</label>
          </div>

          <div class="col-md-6 form-floating">
            <input th:field="*{password}" type="password" id="password" class="form-control" placeholder="Contraseña" required />
            <label for="password">Contrasenia</label>
          </div>

          <div class="col-md-6 form-floating">
            <input th:field="*{telefono}" type="text" id="telefono" class="form-control" placeholder="Teléfono" required />
            <label for="telefono">Telefono</label>
          </div>

          <div class="col-md-6 form-floating">
            <input th:field="*{dni}" type="text" id="dni" class="form-control" placeholder="DNI" required />
            <label for="dni">DNI</label>
          </div>
        </div>

        <!-- Valores que no se editan por el usuario -->
        <input type="hidden" th:field="*{activo}" value="true" />
        <input type="hidden" name="redirectUrl" th:value="${redirectUrl}" />

        <button id="btn-registrarme" class="btn btn-success w-100 mt-4" type="submit">Registrarme</button>

        <p th:if="${error != null}" id="mensajeErrorRegistrarse" class="alert alert-danger mt-3" th:text="'Error: ' + ${error}"></p>
      </form>
    </div>
  </div>
</div>


<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<div th:replace="fragments/fragments :: footer"></div>