<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<main role="main" class="container my-5">

    <div class="row g-4">

        <div class="col-md-6 p-3 text-center align-self-center">
          <img class="img-fluid" th:src="@{/img/logo.png}" alt="Logo" style="max-width: 80%"/>
        </div>

        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6">

          <h3 class="form-signin-heading mb-3">Registrarme</h3>

          <form action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}">

            <div class="form-floating mb-3">
              <input th:field="*{email}" type="email" class="form-control" id="email" placeholder="email@ejemplo.com" required>
              <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="Password" required>
              <label for="password">Password</label>
            </div>

            <button id="btn-registrarme" class="btn btn-lg btn-primary btn-block" Type="Submit">Registrarme</button>

            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}"></p>

          </form>
        </div>

    </div>

</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>