<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text${subcategoria.nombre}>Subcategoría seleccionada</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/categorias.css}"/>
</head>
<body>
<!-- Header -->
<div th:replace="~{fragments/header :: userHeader}"></div>


<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>