<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text${subcategoria.nombre}>Subcategoría seleccionada</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/categorias.css}"/>
</head>
<body>
<!-- Header -->
<header class="border-bottom border-info mb-1">
    <nav class="navbar navbar-expand-lg container py-2">
        <a class="navbar-brand d-flex align-items-center gap-2" href="#">
            <img class="logo-img" th:src="@{/img/logo.png}" alt="Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContenido"
                aria-controls="navContenido" aria-expanded="false" aria-label="Alternar navegación">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navContenido">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <form class="d-flex" role="search">
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="Buscar..." aria-label="Buscar">
                            <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </form>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Mi perfil</a></li>
            </ul>
        </div>

    </nav>


</header>


<!-- Footer -->
<footer class="bg-light text-center text-lg-start border-top mt-5">
    <div class="text-center p-3">
        © 2025 SubastARG
    </div>
</footer>

</body>
</html>