<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="styles.css" th:href="@{/css/main.css}">
</head>
<body>

<header>
    <nav class="navbar">
        <div class="logo">
            <img th:src="@{/img/logoMagnusFitSolo.png}" alt="Logo" class="logo-img">
            <h1 class="logo-text">MagnusFit</h1>
        </div>
        <ul class="nav-links">
            <li><a th:action="@{/irAHome}" href="home">Inicio</a></li>
            <li><a id="ir-a-vistaObjetivos" href="vistaObjetivos">Rutina</a></li>
            <li><a th:action="@{/irCalendario}" href="calendario">Calendario</a></li>
        </ul>
        <div class="user-profile">
            <a href="perfil" th:action="@{/irPerfil}">
                <span class="user-name">Nombre</span>
                <img th:src="@{/img/usuario.png}" alt="Usuario" class="user-img">
            </a>

        </div>
    </nav>
</header>

<div class="main-content">
    <div class="container">
        <h1 class="main-title">Perfil de Usuario</h1>
        <div class="container">
            <form id="profileForm">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="" readonly>

                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" value="" readonly>

                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña" value="" readonly>

                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fechaNacimiento" name="fechaNacimiento" value="" readonly>

                <label for="peso">Peso(kg):</label>
                <input type="number" id="peso" name="peso" value="76">

                <input type="submit" value="Modificar Información">
            </form>
        </div>
    </div>
</div>
</body>
</html>