<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I - Mi perfil</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

  <!-- custom style -->

  <link rel="stylesheet" th:href="@{/css/categorias.css}"/>

</head>

<body>

<!-- Header -->
<div th:replace="~{fragments/header :: userHeader}"></div>

<main role="main" class="container">

  <h2>¡Bienvenido <span th:text="${usuario.nombre}"></span>!</h2>
  <p>Este es un resumen de tu perfil donde podrás ver tus datos e historial de subastas creadas.</p>

  <h4>Modifica tus datos</h4>

  <form th:action="@{/perfil}" th:object="${usuario}" method="post" class="p-3">

    <div class="input-group flex-nowrap mb-3">
      <span class="input-group-text" id="addon-wrapping-email">Email</span>
      <input class="form-control" type="text" th:value="*{email}" aria-label="readonly input example" readonly>
    </div>

    <div class="input-group flex-nowrap mb-3">
      <span class="input-group-text" id="addon-wrapping">Nombre</span>
      <input th:field="*{nombre}" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
    </div>

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
  </form>

  <h2>Historial de subastas</h2>

  <div th:if="${#lists.isEmpty(subastas)}">
    <p>No tenés subastas creadas todavía.</p>
  </div>

    <div th:each="subasta : ${subastas}">
      <div class="card m-3" style="width: 18rem;">
        <img th:src="@{'/' + ${subasta.id} + '/imagen'}" class="card-img-top" alt="Imagen de subasta">
        <div class="card-body border-top">
          <h5 th:text="${subasta.titulo}" class="card-title text-uppercase">Título de la subasta</h5>
          <p th:text="${subasta.descripcion}" class="card-text">Descripción</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>Precio inicial: <span th:text="${subasta.precioInicial}"></span></p>
          </li>
          <li class="list-group-item">
            <p class="fw-bold"><span th:text="${subasta.estadoSubasta == 10 ? 'En curso' : 'Cerrada'}"></span></p>
          </li>
        </ul>
      </div>
    </div>

</main>
<!-- /.container -->

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>