<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Buscar Producto</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DC Subastas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/home}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/nuevaSubasta}">Subastas</a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/ofertas/nueva}">Ofertar</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/categorias}">Ver categorias</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Mi Perfil</a></li>
            </ul>
        </div>
    </div>
</nav>


<h2>Resultados para: "<span th:text="${productoBuscado}"></span>"</h2>
<div th:if="${resultados.isEmpty()}">
    <p>No se encontraron productos.</p>
</div>
<div th:each="producto : ${resultados}">
    <div class="card mb-2">
        <div class="card-body">
            <h5 th:text="${producto.nombre}"></h5>
            <p th:text="${producto.descripcion}"></p>
            <p th:text="${producto.precio}"></p>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>