<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rutina Detalle</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/rutina.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo">
            <img th:src="@{/img/logoMagnusFitSolo.png}" alt="Logo" class="logo-img">
            <h1 class="logo-text">MagnusFit</h1>
        </div>
        <ul class="nav-links">
            <li><a th:action="@{/irAHome}" href="home">Inicio</a></li>
            <li><a th:action="@{/irAMiRutina}" href="mi-rutina">Rutina</a></li>
            <li><a th:action="@{/irAlimentacion}" href="alimentacion">Alimentación</a></li>
            <li><a th:action="@{/irCalendario}" href="calendario">Calendario</a></li>
        </ul>
        <div class="user-profile">
            <a class="name-link-container" href="perfil" th:action="@{/irPerfil}">
                <span th:text="${usuario != null ? usuario.nombre : 'nombre'}" class="name-link"></span>
                <img th:src="@{/img/usuario.png}" alt="Usuario" class="user-img">
            </a>
        </div>
    </nav>
</header>

<div class="container mt-5 pt-5">
    <p th:if="${error != null}" class="alert alert-danger" th:text="${error}"></p>
    <div class="row mb-2">
        <div class="col-md-12 text-end">
            <form th:action="@{/liberar-rutina}" method="post">
                <input type="hidden" name="id" th:value="${rutina.id}" />
                <button type="submit" class="btn btn-danger">Liberar rutina</button>
            </form>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">
                    <h2 th:text="${rutina.nombre}"></h2>
                </div>
                <div class="card-body">
                    <p th:text="${rutina.descripcion}"></p>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="ejercicio : ${rutina.ejercicios}">
                            <div class="row">
                                <div class="col-md-6">
                                    <p th:text="${ejercicio.nombre}" style="font-weight: bold"></p>
                                    <p th:text="${ejercicio.descripcion}"></p>
                                </div>
                                <div class="col-md-6 text-end">
                                    <p th:text="${ejercicio.series + 'x' + ejercicio.repeticiones}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form th:action="@{/actualizar-estado-ejercicio}" method="post">
                                        <!-- Hidden input for ejercicio id -->
                                        <input type="hidden" name="idEjercicio" th:value="${ejercicio.idEjercicio}" />

                                        <!-- Find corresponding estadoEjercicio for the current ejercicio -->
                                        <th:block th:each="estado : ${estadosEjercicios}">
                                            <th:block th:if="${estado.ejercicio.idEjercicio == ejercicio.idEjercicio}">
                                                <p>Estado actual:
                                                    <span th:text="${estado.estado.toString().replace('_',' ')}"
                                                          th:class="${estado.estado.toString() == 'COMPLETO' ? 'estado-completo' :
                                                                     (estado.estado.toString() == 'INCOMPLETO' ? 'estado-incompleto' :
                                                                     'estado-no-empezado')}">
                                                    </span>
                                                </p>
                                            </th:block>


                                            <th:block th:if="${estado.ejercicio.idEjercicio == ejercicio.idEjercicio}">
                                                <select name="estado">
                                                    <option th:value="NO_EMPEZADO" th:selected="${estado.estado.toString() == 'NO_EMPEZADO'}"
                                                            th:classappend="${estado.estado.toString() == 'NO_EMPEZADO' ? 'estado-no-empezado' : ''}">NO EMPEZADO</option>
                                                    <option th:value="INCOMPLETO" th:selected="${estado.estado.toString() == 'INCOMPLETO'}"
                                                            th:classappend="${estado.estado.toString() == 'INCOMPLETO' ? 'estado-incompleto' : ''}">INCOMPLETO</option>
                                                    <option th:value="COMPLETO" th:selected="${estado.estado.toString() == 'COMPLETO'}"
                                                            th:classappend="${estado.estado.toString() == 'COMPLETO' ? 'estado-completo' : ''}">COMPLETO</option>
                                                </select>
                                            </th:block>

                                        </th:block>

                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center mt-3">
                        <button type="button" class="btn btn-success">Guardar resultados</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
