<head>
    <link rel="icon" type="image/png" href="uploads/jineteSVG.svg">
    <title>Jinete Gamer</title>
</head>
<div th:replace="fragments/fragments :: header"></div>

<div class="container" style="min-height: 70vh;">
    <h4>Elegi el tipo de armado</h4>
    <p class="text-muted">
        Vas a poder elegir entre los tipos de armados disponibles el que mas se amolde a tus necesidades
    </p>
    <div class="row justify-content-evenly">
        <div class="col-6 col-md-4">
            <a th:href="@{/arma-tu-pc/tradicional/procesador}" class="text-decoration-none d-block">
                <div class="bg-dark text-white p-3 d-flex flex-column h-100 rounded-4">
                    <div class="w-100 mb-2 fw-bold fs-5 border-bottom pb-2 text-center">
                        <i class="bi bi-pc-display-horizontal"></i> Armado Tradicional
                    </div>
                    <div>
                        <p class="mb-0 ms-2">¡Haz tu armado <b>paso a paso</b> eligiendo componentes de nuestro catalogo que son <b>compatibles</b> entre si!</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4">
            <a th:href="@{/arma-tu-pc/armadoCustom}" class="text-decoration-none d-block">
                <div class="bg-dark text-white p-3 d-flex flex-column rounded-4">
                    <div class="w-100 mb-2 fw-bold fs-5 border-bottom pb-2 text-center">
                        <i class="bi bi-sliders"></i> Armado Customizado
                    </div>
                    <div>
                        <p class="mb-0 ms-2">¡Ademas de compatibilidades, elije tus <b>programas/juegos favoritos</b> y te ayudamos a obtener un armado que garantice una <b>buena experiencia y rendimiento</b>!</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: footer"></div>